:root {
  --container-gap: 1rem;
  --line-width: 1.5px;
}

html {
  /* scroll-behavior: smooth; */
  height: auto;
}

/* @media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
} */

body{
  @apply text-body bg-grey text-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  height: 100%;
}

@view-transition{
  navigation: auto;
}


[id]{scroll-margin-top: 10ex}

main {
  @apply overflow-hidden;
}

container{
  @apply container;
}

.row {
  @apply grid gap-1 grid-cols-12 md:gap-2;
  /* @apply grid grid-cols-4 gap-1 sm:grid-cols-6 md:grid-cols-12 md:gap-2; */
}

.row > * {
  grid-column: 1 / 13;
}


img, video{
  @apply w-full object-cover;
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 640px //////////////////////////*/
/*//////////////////////////////////////////////////////////*/
@media (min-width: theme("screens.xs")) {
  :root {
    --container-gap: 2rem;
  }
}

/*//////////////////////////////////////////////////////////*/
/*//////////////////////// 768px ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/
@media (min-width: theme("screens.sm")) {
  :root {
    --container-gap: 4rem;
  }
}

/*//////////////////////////////////////////////////////////*/
/*//////////////////////// 992px ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.xg")) {
  
  :root {
    --container-gap: 3rem;
  }

}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 1064px /////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.xl")) {
  :root {
    --container-gap: 5rem;
  }
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 1280px /////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.2xl")) {
  :root {
    --container-gap: 6rem;
  }
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 1420px /////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.3xl")) {
  :root {
    --container-gap: 7rem;
  }
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 1920 ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.4xl")) {
  :root {
    --container-gap: 8rem;
  }
}

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// 2560 //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: theme("screens.5xl")) {
  :root {
    --container-gap: 6rem;
  }
}
