.absolute-center{
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.svh-full{
  height: 100vh;
  height: 100svh;
}

.content-visibility{
  content-visibility:auto;
}

.flex-center{
  @apply flex justify-center items-center;
}

.link-underline{
  width: fit-content;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% .2rem;
  transition: background-size .3s;
}

.link-underline:hover{
  background-size: 100% .2rem;
}

.txt-caplow:first-letter {
  text-transform: uppercase !important;
}

.debug{
  @apply bg-black text-[#35b80d] overflow-y-auto overflow-x-hidden h-[30rem] p-3 my-3 rounded-xl; 
}


/*//////////////////////////////////////////////////////////*/
/*//////////////////////// MAX SM //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (max-width: theme("screens.sm")) {

  .mobile-wide-fit {
    max-width: inherit;
    width: calc(100% + var(--container-gap) * 2) !important;
    margin-left: calc(-1 * var(--container-gap)) !important;
  }

  /* Fit  */
  .fit-left {
    max-width: inherit;
    width: calc(100% + var(--container-gap)) !important;
    margin-left: calc(-1 * var(--container-gap));
  }

  .fit-right {
    max-width: inherit;
    width: calc(100% + var(--container-gap)) !important;
    margin-right: calc(-1 * var(--container-gap));
  }

}

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// XG ////////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (width >= theme("screens.xg")) {

  /* Fit  */
  .xg\:fit-left {
    max-width: inherit;
    width: calc(100% + var(--container-gap)) !important;
    margin-left: calc(-1 * var(--container-gap));
  }

  .xg\:fit-right {
    max-width: inherit;
    width: calc(100% + var(--container-gap)) !important;
    margin-right: calc(-1 * var(--container-gap));
  }

}
