@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-Comp.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Haas-new';
    src: url('Haas-new-Bold-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

