.btn{
  @apply inline-flex items-center gap-1
  py-[1.3rem] px-2 xg:py-1 
  text-center font-serif leading-[1.4] uppercase
  rounded-full cursor-pointer;
  width: fit-content;
  color: currentColor;
  border: 1px solid transparent;
  transition: .4s all ease !important;
}

.btn.outline{
  border: 1px solid currentColor;
  outline-style: none;
}

.btn.outline:hover{
  border: 1px solid currentColor;
  @apply bg-black text-white;
}

.btn i{
  @apply text-[2rem];
}

/* Colors */
.btn.white{
  @apply bg-white text-black;
}

.btn.white:hover{
  @apply bg-white text-black border-white !important; 
}


.btn.black{
  @apply bg-neutral-950 text-white;
}

.btn.black:hover{
  @apply bg-neutral-600 text-black !important;
}



