:root {
  --swiper-theme-color: theme('colors.red');
  --swiper-pagination-bullet-size: 1.2rem;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: .5rem;
  --swiper-pagination-bullet-inactive-color: transparent;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-navigation-size: 4rem;
}

.swiper {
  @apply w-full h-full my-0 mx-auto
 }
 
 .swiper-slide {
   @apply flex justify-center items-center;
 }
 
 .swiper-slide img {
  @apply block h-full;
 }