:root {
   --checkbox-color: var(--orange);
}

/* Customize the label (the container) */
.checkbox {
  position: relative;
   display: block;
   padding-left: 3.5rem;
   margin-bottom: 3rem;
   cursor: pointer;
   -webkit-user-select: none;
   user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}

/* Create a custom checkbox */
.checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 2.2rem;
   width: 2.2rem;
   background-color: #fff;
   border-radius: 100px;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
   background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
   background-color: var(--checkbox-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
   content: '';
   position: absolute;
   display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
   display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
   left: 9px;
   top: 5px;
   width: 5px;
   height: 10px;
   border: solid white;
   border-width: 0 3px 3px 0;
   transform: rotate(45deg);
}
