/* Loader */
.loader, .htmx-loader {
  display: none;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  border: 0.38rem solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.5);
  animation: s2 1s infinite linear;
}

.htmx-loader {
  display: none;
  width: 3.5rem;
  height: 3.5rem;
  border: 0.5rem solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.5);
}

.htmx-request .htmx-loader{
 display: block !important;
}

@keyframes s2 {
  to {
    transform: rotate(1turn);
  }
}
