---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import NicoLogo from '@/components/NicoLogo.astro';
import { getHoy } from '../js/gethoy.js'
const hoy = getHoy();
// const posts = await getCollection('posts');
---

<Layout 
title="Nicolás González — Full-stack Developer"
claim="El nuevo framework de maquetación de sitios de I+D"
description="El nuevo framework de maquetación de sitios de I+D"
>
  <div class="screen justify-between xg:pb-4">
    <article>xxx</article>
    <div>
      {`© ${hoy}`}
    </div>
    <NicoLogo />
  </div>
  
</Layout>
