---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import NicoLogo from "@/components/NicoLogo.astro";
// const posts = await getCollection('posts');
---

<Layout
  title="Nicolás González — Full-stack Developer"
  claim="El nuevo framework de maquetación de sitios de I+D"
  description="El nuevo framework de maquetación de sitios de I+D"
>
  <div class="screen xg:pb-4 tabs">
    <div class="top row xg:pt-10">
      <div class="xg:col-1-4">
        <h2 class="text-h1 leading-[1.2]" >
          Full-Stack <br>
          Web Developer
        </h2>
      </div>
      <div class="xg:col-4-6 tab-link active" data-tab="iam" >
        <h1 class="mb-3 tab-title" >Myself</h1>
        <p class="tab-content active" data-tab="iam">
          Freelance Web Developer with expertise in interaction design,
          branding, and strategy. Supporting brands in building compelling,
          user-friendly, and emotionally captivating experiences.
        </p>
      </div>
      <div class="xg:col-7-12 tab-link" data-tab="stack">
        <h2 class="mb-3 tab-title">My Stack</h2>
        <div class="tab-content" data-tab="stack">
          <div class="flex gap-2 xg:gap-4">

            <div>
              <ul class="xg:columns-2">
                <li>HTML</li>
                <li>CSS</li>
                <li>PHP</li>
                <li>Javascript</li>
                <li>MySQL</li>
                <li>Wordpress</li>
                <li>NodeJS</li>
                <li>API´s</li>
                <li>Astro [ Static Site Generator ]</li>
                <li>KeyStatic [ Flat based CMS ] </li>
                <li>Laravel</li>
                <li>Statamic [ Flat based CMS ] </li>
                <li>Tailwind CSS</li>
                <li>Bootstrap CSS</li>
              </ul>
            </div>

          </div>
        </div>
      </div>
      
    </div>
    <div class="bottom flex items-end">
      <NicoLogo />
    </div>
  </div>
</Layout>

<script>
  import tabs from "@/js/tabs";
  tabs();
</script>
