---
const { items } = Astro.props;
import '../css/layout/menu.css';
const baseURL = import.meta.env.BASE_URL;
---
<nav>
    <a href="/" data-astro-prefetch="hover" >
        Home
    </a>
    <a href={ `${baseURL}/about` } data-astro-prefetch="hover" >
        About
    </a>
    <a href="#cards" class="anchor" >
        Services
    </a>
    <a href="#" class="m-link" data-modal="demo" >
        Modal
    </a>
    <a href="#icons" class="anchor" >
        Icons
    </a>
    <a href="#contacto" class="anchor" >
        Contact
    </a>
</nav>