---
const { items } = Astro.props;
import "../css/layout/menu.css";
const baseURL = import.meta.env.BASE_URL;
---
<div class="xg:col-4-7 flex">
    <a href="/" class="link-underline active" data-astro-prefetch="hover"> About </a>
</div>
<div class="xg:col-7-10 flex">
    <a href={`${baseURL}/about`} class="link-underline" data-astro-prefetch="hover"> Showcase </a>
</div>
<div class="xg:col-10-13 xg:flex xg:justify-between">
    <a href="#cards" class="link-underline" data-astro-prefetch="hover" > Packages </a>
    <a href="#contacto" class="link-underline" data-astro-prefetch="hover" > Contact </a>
</div>
