---
import { getHoy } from "../js/gethoy.js";
const hoy = getHoy();
---

<div class="flex flex-col gap-1 w-full">
  <svg
    class="w-full h-auto"
    width="1880"
    height="177"
    viewBox="0 0 1880 177"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M1774.84 140.288L1824.93 41.7781H1778.4V3.32385H1880V36.3186L1828.49 134.353H1879.76V172.808H1774.84V140.288Z"
      fill="white"></path>
    <path
      d="M1660.9 172.808V3.32385H1762.97V41.7781H1708.38V67.8891H1759.41V104.919H1708.38V134.353H1765.11V172.808H1660.9Z"
      fill="white"></path>
    <path
      d="M1551.03 172.808V3.32385H1598.5V134.353H1650.25V172.808H1551.03Z"
      fill="white"></path>
    <path
      d="M1494.48 172.808L1489.26 146.934H1457.45L1452.7 172.808H1403.8L1443.92 3.32385H1503.5L1543.38 172.808H1494.48ZM1484.03 109.904L1473.83 40.3539H1473.35L1462.43 109.904H1484.03Z"
      fill="white"></path>
    <path
      d="M1295.69 140.288L1345.78 41.7781H1299.25V3.32385H1400.85V36.3186L1349.34 134.353H1400.61V172.808H1295.69V140.288Z"
      fill="white"></path>
    <path
      d="M1236.64 106.818V3.32385H1281.27V172.808H1230.47L1204.12 68.3638H1203.64V172.808H1160.44V3.32385H1211.95L1236.16 106.818H1236.64Z"
      fill="white"></path>
    <path
      d="M1096.67 88.0651C1096.67 38.4543 1094.77 31.3331 1084.56 31.3331C1074.35 31.3331 1072.45 38.4543 1072.45 88.0651C1072.45 137.676 1074.35 144.797 1084.56 144.797C1094.77 144.797 1096.67 137.676 1096.67 88.0651ZM1023.56 88.0651C1023.56 35.6058 1023.56 0 1084.56 0C1145.57 0 1145.57 35.6058 1145.57 88.0651C1145.57 142.186 1145.57 176.13 1084.56 176.13C1023.56 176.13 1023.56 142.186 1023.56 88.0651Z"
      fill="white"></path>
    <path
      d="M954.085 111.802V80.4692H1012.24V172.807H979.247L978.06 159.039H977.585C969.515 173.994 956.459 176.13 942.692 176.13C894.505 176.13 893.081 133.878 893.081 88.3024C893.081 39.8785 895.692 0 953.611 0C1000.61 0 1010.82 23.4999 1010.82 57.4441H966.191V50.5603C966.191 37.9795 963.343 31.3331 954.085 31.3331C942.692 31.3331 941.979 42.0149 941.979 52.2219V122.009C941.979 132.454 942.929 144.797 954.323 144.797C965.717 144.797 967.616 136.014 967.616 123.434V111.802H954.085Z"
      fill="white"></path>
    <path
      d="M771.813 51.9845V45.1007C771.813 37.9795 768.727 31.3331 760.657 31.3331C753.535 31.3331 749.737 37.2674 749.737 44.1512C749.737 77.8581 820.474 60.5299 820.474 121.06C820.474 160.464 802.197 176.13 758.283 176.13C721.965 176.13 702.026 163.787 702.026 126.519V122.009H748.076V129.843C748.076 138.151 751.636 144.797 759.944 144.797C768.727 144.797 771.576 137.201 771.576 129.843C771.576 118.923 767.54 116.55 761.369 112.989C754.96 109.429 746.414 106.105 737.869 101.833C712.233 89.0146 703.687 79.757 703.687 54.5956C703.687 31.0958 710.808 18.2777 721.727 10.4444C729.798 4.74745 741.904 0 760.419 0C808.368 0 816.439 23.7372 816.439 51.9845H771.813Z"
      fill="white"></path>
    <path
      d="M650.225 172.808L645.003 146.934H613.195L608.448 172.808H559.549L599.665 3.32385H659.245L699.124 172.808H650.225ZM639.781 109.904L629.574 40.3539H629.099L618.18 109.904H639.781Z"
      fill="white"></path>
    <path
      d="M460.59 172.808V3.32385H508.064V134.353H559.812V172.808H460.59Z"
      fill="white"></path>
    <path
      d="M397.527 88.0651C397.527 38.4543 395.628 31.3331 385.421 31.3331C375.214 31.3331 373.315 38.4543 373.315 88.0651C373.315 137.676 375.214 144.797 385.421 144.797C395.628 144.797 397.527 137.676 397.527 88.0651ZM324.416 88.0651C324.416 35.6058 324.416 0 385.421 0C446.425 0 446.425 35.6058 446.425 88.0651C446.425 142.186 446.425 176.13 385.421 176.13C324.416 176.13 324.416 142.186 324.416 88.0651Z"
      fill="white"></path>
    <path
      d="M268.369 65.9895V52.2219C268.369 44.8633 268.369 31.3331 258.637 31.3331C246.294 31.3331 245.819 39.8785 245.819 88.0651C245.819 137.676 247.006 144.797 258.637 144.797C266.233 144.797 269.319 137.201 269.319 116.075V103.02H315.369V113.701C315.369 153.342 299.465 176.13 257.925 176.13C196.92 176.13 196.92 142.186 196.92 88.0651C196.92 35.6058 196.92 0 257.925 0C308.485 0 314.42 27.2978 314.42 53.6461V65.9895H268.369Z"
      fill="white"></path>
    <path d="M137.623 172.808V3.32385H185.097V172.808H137.623Z" fill="white"
    ></path>
    <path
      d="M76.1964 106.818V3.32373H120.822V172.807H70.0248L43.6765 68.3637H43.2017V172.807H0V3.32373H51.5098L75.7217 106.818H76.1964Z"
      fill="white"></path>
  </svg>
</div>
