---
import Brand from "../components/Brand.astro";
// import GoTop from "../components/Gotop.astro";
// import WhatsApp from '../components/WhatsApp.astro';
import { getHoy } from '../js/gethoy.js'
const hoy = getHoy();

---
<footer class="container row pt-5 pb-10 xg:py-7" >
    <div class="col-[1/7] xg:col-[1/7]" >
        <Brand width="w-40% md:w-full xg:w-25%" alt="Gridbox" ></Brand>
    </div>
    <div class="col-[7/13] xg:col-[7/11] flex items-center">
        {`© ${hoy}`}
    </div>
</footer>

<!-- <WhatsApp num="+59898398010" msg="Hola AR Sistemas" /> -->

