---
import "../css/layout/header.css";
import Brand from "@/components/Brand.astro";
import Burger from "@/components/Burger.astro";
import Menu from "@/components/Menu.astro";
import { Icon } from "astro-icon/components";

// import SocialLinks from '../components/SocialLinks.astro'
const homeUrl = import.meta.env.HOME_URL ?? "/";
---

<header class="container">
  <nav id="menu" class="row">
    <div class="md:col-1-3">
      <a href={homeUrl} class="brand">
        <Icon name="iso" />
      </a>
    </div>
    <Menu />
  </nav>
</header>
